h1
{
  font-size: 200;
  text-align: center;
  font-family: Verdana, Arial, Helvetica;
  color: rgb(218, 25, 50);
}
h3 
{
    font-size: 100;
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: rgb(218, 25, 50);
}
p
{}
